body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #222;
    margin: 0;
    padding: 20px;
    transition: background 0.3s, color 0.3s;
}
body.dark-mode {
    background: #222;
    color: #f4f4f4;
}
button {
    margin: 5px;
    padding: 8px 16px;
    cursor: pointer;
}
.faq-answer {
    display: none;
    margin: 5px 0 15px 0;
}
.faq-item.active .faq-answer {
    display: block;
}
#contact-form{
    max-width: 350px;
}
label{
    font-size: 1.2rem;
    font-weight: 500;
}
.field{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 5px 0;
}
.field input{
    padding: 8px 4px;
    border-radius: 5px;
}
.btn{
    width: 100%;
    margin: 0;
    border-radius: 10px;
}
.error {
    color: red;
    font-size: 0.9em;
    margin-left: 10px;
}
.success {
    color: green;
    font-size: 1em;
    margin-left: 10px;
}